<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="RoomInteriorEntities" connectionString="metadata=res://*/Helper.Model1.csdl|res://*/Helper.Model1.ssdl|res://*/Helper.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RoomInterior;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Helper.EF.csdl|res://*/Helper.EF.ssdl|res://*/Helper.EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RoomInterior;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>